@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-size: contain;
  background: fixed no-repeat url(https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg);
}

.grid {
  background: inherit;
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr 1fr;
      grid-template-columns: 400px 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "tbb    name   name" "list   card1  card2" "list   card3  card4" "ad     card5  card6";
}

.grid .tbb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tbb;
  padding: 20px;
}

.grid .tbb .wrap {
  background: #72cf73;
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, #72cf73), to(#20d62f));
  background: linear-gradient(90deg, #72cf73 31%, #20d62f 100%);
}

.grid .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: name;
  padding: 20px;
}

.grid .name .wrap {
  padding: 40px;
  background: #72cfc1;
  background: -webkit-gradient(linear, left top, right top, color-stop(31%, #72cfc1), to(#2061d6));
  background: linear-gradient(90deg, #72cfc1 31%, #2061d6 100%);
}

.grid .card1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card1;
}

.grid .list {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: list;
  padding: 20px;
  height: 100%;
}

.grid .list .wrap {
  background: #72cfc1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #72cfc1), to(#c220d6));
  background: linear-gradient(180deg, #72cfc1 31%, #c220d6 100%);
}

.grid .card4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: card4;
}

.grid .card4 .wrap {
  background: #e362dc;
  background: linear-gradient(82deg, #a847a3 31%, #c74e1e 100%);
}

.grid .card5 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: card5;
}

.grid .card6 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: card6;
}

.grid .ad {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: ad;
  padding: 20px;
  max-height: 100%;
  max-width: 100%;
}

.grid .ad .wrap {
  padding: 20px;
  background-color: burlywood;
}

.grid .ad .wrap img {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.card {
  padding: 20px;
  background: inherit;
}

.card .wrap {
  font-size: 15px;
  padding: 40px;
  position: relative;
  background: inherit;
  overflow: hidden;
  z-index: 1;
}

.card .wrap::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  margin: -20px;
}

.wrap {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  color: #fff;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 15px;
  padding: 40px;
  position: relative;
  background: inherit;
  overflow: hidden;
  z-index: 1;
}

.wrap::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  margin: -20px;
}

footer {
  grid-area: footer;
  padding: 40px;
  color: #fff;
  position: relative;
  background: inherit;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.65);
  overflow: hidden;
  margin-top: 50px;
  z-index: 1;
}

footer::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  margin: -20px;
}

@media only screen and (max-width: 1300px) {
  .list .wrap {
    background: #72cfc1;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(31%, #72cfc1), to(#c220d6));
    background: linear-gradient(0deg, #72cfc1 31%, #c220d6 100%);
  }
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "tbb    name   name" "card1   card2  card3" "ad   list  list" "card6 card4 card5";
  }
}

@media only screen and (max-width: 950px) {
  .tbb {
    display: none;
  }
  .grid {
    -ms-grid-rows: 1fr 200px (1fr)[4];
        grid-template-rows: 1fr 200px repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name   name" "list   list" "card1  card2" "ad     card3" "card4  card5" "card6  blank";
  }
}

@media only screen and (max-width: 700px) {
  .tbb {
    display: none;
  }
  .grid {
    width: 98%;
    -ms-grid-rows: 1fr 200px (1fr)[7];
        grid-template-rows: 1fr 200px repeat(7, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "name" "list" "card1" "ad   " "card2" "card3" "card4" "card5" "card6";
  }
}
/*# sourceMappingURL=style.css.map */